{% extends 'layout.html' %}
{% block title %} <title> Musicbrainz Home page </title> {% endblock%}


{% block content %}
<h1> Hi user </h1>

<div class="form">
    <form action="/" method="POST">
        <input type="text" placeholder="Search catalog:" name="title">
        <button type="submit" class="submit-button">Find</button>
    </form>

</div>
	<form>
		<label for="search"> Search catalog: </label>
		<input type="search" name="search" id="search">
		<input type="submit" name="submit">
	</form>
{% endblock %}

{% block footer %}
<footer> ... </footer>
{% endblock %}

{% block script %} <script type="text/javascript"> window.onload = () => console.log('Document ready!'); </script> {% endblock %}